*{
  padding: 0;
  margin: 0;
  /* background-color: grey; */
}

body{
  background-color: #d5cccc;
}


.container{
  background-color: white;
  
}


.card:hover{
 background-color: blueviolet;
}

.card {
  margin: 2px;
  background-color: gray !important;
  box-shadow: 2px 2px 2px 2px  wheat;
}
